{:paths ["src/core"]
 :deps  {
         buddy/buddy-core            {:mvn/version "1.9.0"}
         garden/garden               {:mvn/version "1.3.10"}
         hawk/hawk                   {:mvn/version "0.2.11"}
         org.clojure/clojure         {:mvn/version "1.10.2-rc1"}
         org.clojure/java.classpath  {:mvn/version "1.0.0"}
         org.clojure/tools.namespace {:mvn/version "1.1.0"}
         }
 :aliases
 {
  :provided
  {
   :extra-deps
   {
    }}


  :test
  {
   :extra-paths ["src/test"]
   :extra-deps
   {
    org.clojure/tools.cli                       {:mvn/version "1.0.194"}
    org.clojure/tools.deps.alpha                {:mvn/version "0.9.821"}
    user.java.time/user.java.time               {:mvn/version "2020.267.10158"}
    user.tools.deps.alpha/user.tools.deps.alpha {:git/url "https://github.com/aJchemist/user.tools.deps.alpha.git" :sha "1a37f7e9185e524686b58b14ddfe552fefee282e"}
    }}


  :test-runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha     "f7ef16dc3b8332b0d77bc0274578ad5270fbfedd"}}
   :main-opts  ["-m" "cognitect.test-runner" "-d" "src/test"]}
  }}
